# config environment
arkserverroot="/home/steam/ARK"                                     # path of your ARK server files (default ~/ARK)

# ARK server options - use ark_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
serverMap="<map_name>"                                               # server map (default TheIsland)
#serverMapModId="469987622"                                         # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#ark_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
ark_RCONEnabled="True"                                              # Enable RCON Protocol
ark_RCONPort="<rcon_port>"                                                # RCON Port
ark_SessionName="<server_name>"                                  # if your session name needs special characters please use the .ini instead
ark_Port="<port>"                                                     # ARK server port (default 7778)
ark_QueryPort="<query_port>"                                               # ARK query port (default 27015)
ark_ServerPassword="<password>"                                               # ARK server password, empty: no password required to login
ark_ServerAdminPassword="<admin_password>"                               # ARK server admin password, KEEP IT SAFE!
ark_MaxPlayers="70"
ark_GameModIds="797686039,558079412,731604991,761535755,899250777,902290346,697357957,1213453992"                     # Uncomment to specify additional mods by Mod Id separated by commas
#ark_AltSaveDirectoryName="SotF"                                    # Uncomment to specify a different save directory name

# ARK server flags - use arkflag_<optionname>=true
#arkflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#arkflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die

# ARK server options - i.e. for -optname=val, use arkopt_optname=val
#arkopt_StructureDestructionTag=DestroySwampSnowStructures

# ark cluster settings
arkflag_NoTransferFromFiltering=False
arkopt_clusterid="<cluster_name>"
#ark_PreventDownloadSurvivors=False
#ark_PreventDownloadItems=False
#ark_PreventDownloadDinos=False
#ark_PreventUploadSurvivors=False
#ark_PreventUploadItems=False
#ark_PreventUploadDinos=False
#ark_noTributeDownloads=false
arkopt_ClusterDirOverride="/home/steam/ARK/clusterdata"

# Server options
ark_AllowAnyoneBabyImprintCuddle=True
ark_AllowFlyerCarryPvE=True
ark_BabyMatureSpeedMultiplier=3.0
ark_DayTimeSpeedScale=0.6
ark_DinoCharacterFoodDrainMultiplier=1.3
ark_DinoDamageMultiplier=1.5
ark_DinoResistanceMultiplier=0.8
ark_EggHatchSpeedMultiplier=3.0
ark_EnablePVPGamma=True
ark_HarvestAmountMultiplier=6.0
ark_HarvestHealthMultiplier=3.0
ark_MatingIntervalMultiplier=0.7
ark_NightTimeSpeedScale=1.8
ark_OverrideOfficialDifficulty=5.000000
ark_OverrideStructurePlatformPrevention=True
ark_OxygenSwimSpeedStatMultiplier=3.000000
ark_PlayerDamageMultiplier=2.2
ark_PvEDisableFriendlyFire=True
ark_ResourceNoReplenishRadiusStructures=0.001
ark_ResourcesRespawnPeriodMultiplier=0.5
ark_ShowFloatingDamageText=True
ark_StructureDamageMultiplier=3.0
ark_StructureResistanceMultiplier=0.7
ark_TamingSpeedMultiplier=1.6
ark_XPMultiplier=3.0
ark_bAllowUnlimitedRespecs=True
ark_bDisableFriendlyFire=True
ark_bDisableStructurePlacementCollision=True
